.item-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
  }
.item-detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }
